################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReducedPlotArmorBuilder/bin
/.vs
/ReducedPlotArmorBuilder/obj
